In [108]:
import pandas as pd

In [109]:
users = pd.read_csv('D:\BootCamp - Engenheiro de Dados IGTI\Modulo 2\Dados\worldwide internet users - users.csv', delimiter = ',')

In [110]:
mapeamento_continente = {}
def mapear(dataframe, pais, continente):
    global mapeamento_continente
    mapeamento_continente = dict(zip(dataframe[pais],dataframe[continente]))
    return mapeamento_continente

In [111]:
mapear(users, "Country or area", "Region")

{'China': 'Asia',
 'India': 'Asia',
 'United States': 'Americas',
 'Indonesia': 'Asia',
 'Brazil': 'Americas',
 'Nigeria': 'Africa',
 'Bangladesh': 'Asia',
 'Russia': 'Europe',
 'Pakistan': 'Asia',
 'Japan': 'Asia',
 'Mexico': 'Americas',
 'Iran': 'Asia',
 'Germany': 'Europe',
 'Philippines': 'Asia',
 'Turkey': 'Europe',
 'Vietnam': 'Asia',
 'United Kingdom': 'Europe',
 'France': 'Europe',
 'Egypt': 'Africa',
 'South Korea': 'Asia',
 'Spain': 'Europe',
 'Thailand': 'Asia',
 'Italy': 'Europe',
 'Poland': 'Europe',
 'Canada': 'Americas',
 'Argentina': 'Americas',
 'South Africa': 'Africa',
 'Colombia': 'Americas',
 'Saudi Arabia': 'Asia',
 'Malaysia': 'Asia',
 'Ukraine': 'Europe',
 'Algeria': 'Africa',
 'Morocco': 'Africa',
 'Taiwan': 'Asia',
 'Australia': 'Oceania',
 'Venezuela': 'Americas',
 'Ethiopia': 'Africa',
 'Iraq': 'Asia',
 'Uzbekistan': 'Asia',
 'Myanmar': 'Asia',
 'Netherlands': 'Europe',
 'Peru': 'Americas',
 'Chile': 'Americas',
 'Kazakhstan': 'Asia',
 'Romania': 'Europe',
 'Sudan': 'Africa',
 'Ghana': 'Africa',
 "Côte d'Ivoire": 'Africa',
 'Uganda': 'Africa',
 'Belgium': 'Europe',
 'Sweden': 'Europe',
 'Ecuador': 'Americas',
 'Tanzania': 'Africa',
 'United Arab Emirates': 'Asia',
 'Kenya': 'Africa',
 'Czech Republic': 'Europe',
 'Switzerland': 'Europe',
 'Greece': 'Europe',
 'Azerbaijan': 'Asia',
 'Austria': 'Europe',
 'Portugal': 'Europe',
 'Yemen': 'Asia',
 'Hungary': 'Europe',
 'Sri Lanka': 'Asia',
 'Belarus': 'Europe',
 'Democratic Republic of the Congo': 'Africa',
 'Dominican Republic': 'Americas',
 'Guatemala': 'Americas',
 'Israel': 'Asia',
 'Hong Kong, China': 'Asia',
 'Jordan': 'Asia',
 'Tunisia': 'Africa',
 'Nepal': 'Asia',
 'Syria': 'Asia',
 'Serbia': 'Europe',
 'Mozambique': 'Africa',
 'Cuba': 'Americas',
 'Cameroon': 'Africa',
 'Denmark': 'Europe',
 'Cambodia': 'Asia',
 'Norway': 'Europe',
 'Bolivia': 'Americas',
 'Finland': 'Europe',
 'Singapore': 'Asia',
 'Zambia': 'Africa',
 'Lebanon': 'Asia',
 'Senegal': 'Africa',
 'Bulgaria': 'Europe',
 'Zimbabwe': 'Africa',
 'Slovakia': 'Europe',
 'New Zealand': 'Oceania',
 'Angola': 'Africa',
 'Paraguay': 'Americas',
 'Afghanistan': 'Asia',
 'Kuwait': 'Asia',
 'Ireland': 'Europe',
 'Oman': 'Asia',
 'Costa Rica': 'Americas',
 'Palestine': 'Asia',
 'Moldova': 'Europe',
 'Burkina Faso': 'Africa',
 'Honduras': 'Americas',
 'Croatia': 'Europe',
 'Puerto Rico (U.S.)': 'Americas',
 'Rwanda': 'Africa',
 'Malawi': 'Africa',
 'Qatar': 'Asia',
 'Madagascar': 'Africa',
 'Bosnia and Herzegovina': 'Europe',
 'Panama': 'Americas',
 'Georgia': 'Asia',
 'Uruguay': 'Americas',
 'Mali': 'Africa',
 'Kyrgyzstan': 'Asia',
 'Lithuania': 'Europe',
 'Niger': 'Africa',
 'Albania': 'Europe',
 'Armenia': 'Asia',
 'El Salvador': 'Americas',
 'Tajikistan': 'Asia',
 'Laos': 'Asia',
 'Nicaragua': 'Americas',
 'Slovenia': 'Europe',
 'North Macedonia': 'Europe',
 'Latvia': 'Europe',
 'Benin': 'Africa',
 'Guinea': 'Africa',
 'Bahrain': 'Asia',
 'Jamaica': 'Americas',
 'Libya': 'Africa',
 'Haiti': 'Americas',
 'Turkmenistan': 'Asia',
 'Estonia': 'Europe',
 'Trinidad and Tobago': 'Americas',
 'Gabon': 'Africa',
 'South Sudan': 'Africa',
 'Sierra Leone': 'Africa',
 'Chad': 'Africa',
 'Togo': 'Africa',
 'Cyprus': 'Asia',
 'Botswana': 'Africa',
 'Namibia': 'Africa',
 'Papua New Guinea': 'Oceania',
 'Mauritania': 'Africa',
 'Mongolia': 'Asia',
 'Mauritius': 'Africa',
 'Lesotho': 'Africa',
 'Burundi': 'Africa',
 'Luxembourg': 'Europe',
 'Djibouti': 'Africa',
 'Macau, China': 'Asia',
 'Congo': 'Africa',
 'Fiji': 'Oceania',
 'Montenegro': 'Europe',
 'Gambia': 'Africa',
 'Eswatini': 'Africa',
 'Brunei': 'Asia',
 'Bhutan': 'Asia',
 'Liberia': 'Africa',
 'East Timor': 'Asia',
 'Malta': 'Europe',
 'Bahamas': 'Americas',
 'Equatorial Guinea': 'Africa',
 'Iceland': 'Europe',
 'Cabo Verde': 'Africa',
 'Somalia': 'Africa',
 'Guyana': 'Americas',
 'Suriname': 'Americas',
 'Maldives': 'Asia',
 'Barbados': 'Americas',
 'New Caledonia': 'Oceania',
 'French Polynesia': 'Oceania',
 'Central African Republic': 'Africa',
 'Belize': 'Americas',
 'Guam': 'Oceania',
 'Aruba (Netherlands)': 'Americas',
 'Saint Lucia': 'Americas',
 'Antigua and Barbuda': 'Americas',
 'Andorra': 'Europe',
 'Guinea-Bissau': 'Africa',
 'Solomon Islands': 'Oceania',
 'Saint Vincent and the Grenadines': 'Americas',
 'Vanuatu': 'Oceania',
 'Comoros': 'Africa',
 'U.S. Virgin Islands': 'Americas',
 'Eritrea': 'Africa',
 'Samoa': 'Oceania',
 'Grenada': 'Americas',
 'São Tomé and Príncipe': 'Africa',
 'Bermuda': 'Americas',
 'Seychelles': 'Africa',
 'Dominica': 'Americas',
 'Cayman Islands': 'Americas',
 'Faroe Islands': 'Europe',
 'Saint Kitts and Nevis': 'Americas',
 'Tonga': 'Oceania',
 'Greenland': 'Americas',
 'Jersey': 'Europe',
 'Monaco': 'Europe',
 'Micronesia': 'Oceania',
 'Liechtenstein': 'Europe',
 'Gibraltar': 'Europe',
 'Marshall Islands': 'Oceania',
 'San Marino': 'Europe',
 'Kiribati': 'Oceania',
 'British Virgin Islands': 'Americas',
 'Anguilla': 'Americas',
 'Nauru': 'Oceania',
 'Tuvalu': 'Oceania',
 'Saint Helena, Ascension and Tristan da Cunha': 'Africa',
 'Falkland Islands': 'Americas',
 'Montserrat': 'Americas',
 'Wallis and Futuna': 'Oceania',
 'Niue': 'Oceania'}

In [112]:
def retorna_continente(pais):
    try:
        for i in mapeamento_continente.keys():
            if mapeamento_continente[pais] == mapeamento_continente[i]:
                return mapeamento_continente[pais]
    except:
        return "Não existe esse país em nossa base"

In [113]:
print(retorna_continente("Brazil"))

Americas

In [114]:
speed = pd.read_csv('D:\BootCamp - Engenheiro de Dados IGTI\Modulo 2\Dados\worldwide internet speed in 2022  - avg speed.csv', delimiter = ',')

In [115]:
def mapa_pais_Continente():
    speed["Continente"] = speed.apply(lambda row: retorna_continente(row["Country"]), axis=1)

In [116]:
mapa_pais_Continente()

In [117]:
speed

         Country  Avg \n(Mbit/s)Ookla Continente
0         Canada                75.18   Americas
1    South Korea               117.95       Asia
2    Netherlands               108.33     Europe
3          Japan                44.05       Asia
4         Norway               134.73     Europe
..           ...                  ...        ...
139        Sudan                 9.50     Africa
140         Cuba                 9.10   Americas
141   Tajikistan                 7.05       Asia
142    Venezuela                 5.68   Americas
143    Palestine                 4.89       Asia

[144 rows x 3 columns]

In [118]:
users = users[(~users['Population'].isna()) & (~users['Internet users'].isna())]

In [122]:
users["Internet users"] = users["Internet users"].str.replace(",","")

In [123]:
users["Internet users"] = users["Internet users"].astype(int)

In [120]:
users["Population"] = users["Population"].str.replace(",","")

In [90]:
users["Population"] = users["Population"].fillna(0)

In [121]:
users["Population"] = users["Population"].astype(int)

In [92]:
users["Country or area"].nunique()

214

In [93]:
print(retorna_continente("Brazil"))
print(retorna_continente("Israel"))
print(retorna_continente("China"))
print(retorna_continente("Kyrgyzstan"))
print(retorna_continente("Australia"))

Americas
Asia
Asia
Asia
Oceania

In [137]:
speed.describe()

       Avg \n(Mbit/s)Ookla
count           143.000000
mean             36.367273
std              27.979997
min               4.890000
25%              16.710000
50%              25.990000
75%              48.795000
max             135.350000

In [138]:
paises_america = users[users["Region"] == "Americas"]["Country or area"].unique()
paises_europa = users[users["Region"] == "Europe"]["Country or area"].unique()
paises_asia = users[users["Region"] == "Asia"]["Country or area"].unique()
paises_africa = users[users["Region"] == "Africa"]["Country or area"].unique()
paises_oceania = users[users["Region"] == "Oceania"]["Country or area"].unique()

In [139]:
speed[speed["Country"].isin(paises_america)].describe()

       Avg \n(Mbit/s)Ookla
count            26.000000
mean             24.131154
std              15.256696
min               5.680000
25%              15.987500
50%              20.670000
75%              27.970000
max              75.180000

In [140]:
speed[speed["Country"].isin(paises_europa)].describe()

       Avg \n(Mbit/s)Ookla
count            39.000000
mean             54.161282
std              26.311361
min               9.990000
25%              37.025000
50%              49.660000
75%              64.265000
max             134.730000

In [141]:
speed[speed["Country"].isin(paises_asia)].describe()

       Avg \n(Mbit/s)Ookla
count            44.000000
mean             38.976818
std              33.413290
min               5.500000
25%              16.432500
50%              24.480000
75%              49.217500
max             135.350000

In [142]:
speed[speed["Country"].isin(paises_africa)].describe()

       Avg \n(Mbit/s)Ookla
count            25.000000
mean             17.792800
std               7.213418
min               7.950000
25%              11.880000
50%              17.950000
75%              21.440000
max              34.420000

In [143]:
speed[speed["Country"].isin(paises_oceania)].describe()

       Avg \n(Mbit/s)Ookla
count             3.000000
mean             50.666667
std              25.285542
min              25.990000
25%              37.740000
50%              49.490000
75%              63.005000
max              76.520000

In [144]:
users["percent_users_pop"] = (users["Internet users"]/users["Population"])*100

In [145]:
users

,Country or area,Subregion,Region,Internet users,Population,percent_users_pop
0,China,Eastern Asia,Asia,1010740000,1427647786,70.797574
1,India,Southern Asia,Asia,833710000,1352642280,61.635660
2,United States,Northern America,Americas,312320000,327096265,95.482594
3,Indonesia,South-eastern Asia,Asia,196000000,267670543,73.224344
4,Brazil,South America,Americas,160010801,209469323,76.388656
...,...,...,...,...,...,...
209,"Saint Helena, Ascension and Tristan da Cunha",Western Africa,Africa,2906,6035,48.152444
210,Falkland Islands,South America,Americas,2881,3234,89.084725
211,Montserrat,Caribbean,Americas,2833,4993,56.739435
212,Wallis and Futuna,Polynesia,Oceania,1383,11661,11.860046
213,Niue,Polynesia,Oceania,1034,1620,63.827160

In [151]:
users["percent_users_pop"].describe()

count    212.000000
mean      57.698081
std       28.595919
min        1.923143
25%       31.432047
50%       63.766783
75%       80.935560
max       99.175207
Name: percent_users_pop, dtype: float64

In [160]:
users[users["Region"] == "Americas"]["percent_users_pop"].describe()

count    45.000000
mean     64.717349
std      19.883431
min      12.172654
25%      49.734427
50%      68.124437
75%      79.365311
max      96.636591
Name: percent_users_pop, dtype: float64

In [161]:
users[users["Region"] == "Asia"]["percent_users_pop"].describe()

count    48.000000
mean     64.337629
std      25.150531
min      10.944266
25%      46.098805
50%      71.073834
75%      82.415975
max      97.981419
Name: percent_users_pop, dtype: float64

In [162]:
users[users["Region"] == "Europe"]["percent_users_pop"].describe()

count    46.000000
mean     83.813647
std      10.747524
min      59.493858
25%      76.159049
50%      84.233600
75%      93.482119
max      99.175207
Name: percent_users_pop, dtype: float64

In [163]:
users[users["Region"] == "Africa"]["percent_users_pop"].describe()

count    55.000000
mean     27.722245
std      19.472764
min       1.923143
25%      11.947470
50%      21.604426
75%      45.319032
max      69.535903
Name: percent_users_pop, dtype: float64

In [164]:
users[users["Region"] == "Oceania"]["percent_users_pop"].describe()

count    18.000000
mean     47.297506
std      27.297233
min      10.747389
25%      26.475788
50%      45.572122
75%      71.527971
max      90.095614
Name: percent_users_pop, dtype: float64

In [165]:
users[users["Region"] == "Europe"]["percent_users_pop"].sort_values(ascending=True)

203    59.493858
87     63.706406
44     64.316029
102    67.631908
108    69.797002
74     70.232691
30     70.288592
116    73.032566
60     74.317459
64     74.563806
57     75.301775
99     76.106259
123    76.317418
62     76.861167
55     78.370346
160    78.536499
122    78.971209
114    80.086989
153    80.447238
89     81.549873
124    82.214400
22     83.361798
95     83.519629
14     84.947571
7      85.086505
59     86.397726
132    87.215100
49     87.276491
82     87.480371
20     90.807798
23     91.498922
17     91.505666
40     93.070947
56     93.164748
12     93.587909
78     94.004860
148    94.464001
50     95.820837
80     95.920971
201    96.369891
16     96.811715
198    97.081330
163    97.767535
200    98.129781
178    98.816975
193    99.175207
Name: percent_users_pop, dtype: float64

In [166]:
users[users["Region"] == "Africa"]["percent_users_pop"].sort_values(ascending=False)

5      69.535903
31     62.398753
32     61.263727
164    57.435446
190    57.342218
18     55.616887
149    55.567444
145    55.470275
71     55.341278
26     55.124829
52     53.273252
46     50.611380
134    49.073386
209    48.152444
47     42.485621
140    42.100638
141    38.126440
155    36.459115
146    31.556380
88     30.978969
45     29.933445
86     29.632978
188    28.979567
84     27.436579
162    25.412403
48     23.784311
77     22.130417
104    21.604426
75     20.891701
143    20.879688
129    20.769690
154    18.277887
36     17.892589
54     17.242737
100    15.431305
105    14.143721
91     13.862650
125    13.739677
136    13.079155
112    12.362779
138    12.216804
126    11.678136
115     9.780339
107     9.541993
135     9.143118
151     8.677038
65      8.340271
183     8.292464
158     7.835840
137     6.257378
147     5.434368
172     4.333220
179     3.902677
165     1.964596
185     1.923143
Name: percent_users_pop, dtype: float64

In [128]:
mais_de_90 = users.loc[users['percent_users_pop'] > 90]

In [167]:
menos_de_10 = users.loc[users['percent_users_pop'] < 10]

In [131]:
mais_de_90[mais_de_90["Population"] > 5000000].nunique()

Country or area      17
Subregion             7
Region                3
Internet users       17
Population           17
percent_users_pop    17
dtype: int64

In [169]:
menos_de_10[menos_de_10["Population"] > 5000000].nunique()

Country or area      8
Subregion            3
Region               1
Internet users       8
Population           8
percent_users_pop    8
dtype: int64